.list-group {
    margin-top : 5px;
    margin-bottom : 5px ;
}
.list-group-item {

    border: 1px solid black;
    color: #555555;
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    width: 10%;
}
h1 {
    margin-top : 5px;
    margin-bottom : 5px ;
}
h1,
h2 {
    text-align: center;
}
a {
    color: black;
}
li {
    background: transparent;
}
.list-group-item:active, .list-group-item:hover {
    background-color: #e55a23;
    outline: 0;
}

.logos {
    border: 1px solid black;
    border-right-style: none;
    border-left-style: none;
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    margin-top: 5px;
    margin-right: 29px;
}
.list-group {
    text-align: center;
}
.title {
    background-color: #ffffff;
    border: 1px solid black;
    border-right-style: none;
    border-left-style: none;
}
#logo-smile{
    float: left;
    margin-left: 80px;
    margin-top: 20px;
}
#logo-da2i {
    float: right;
    padding: 2% 2% 2% 2%;
    margin-right : inherit;
}
#logo-lille-1 {
    width: 350px;
}
.img-holder {
    padding-top: 20px;
    text-align: center
}

.two-col {
    display: inline-block;
}
.col {
    float: left;
    width: 40%;
    padding: 5px 5% 5px 5%;
}
body {
    margin : auto;
    background-color: #B3B3B3;
}

header {

    margin:0px auto;
    background-color: #e55a23;
    display: inline-block;
    position: relative ;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;

}
section {
    display: none;
    padding: 30px 5% 50px 5%;
    margin: 50px 5% 50px 5%;
    border: 2px solid #e55a23;
    background-color: #ffffff;
}

p {
    text-align: justify;
    font-size: 15px;
}

main {
    padding: 20px 20px 20px 20px;



}
