/*.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}*/	
li.list-group-item {
    color: #555555;
}
.list-group-item {

    display: inline-block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}
li {
    background: transparent;
}
li span:hover, li span:focus {
    
    text-decoration: underline;
}
li:active, li:hover {
  background-color: #e55a23;
    outline: 0;
}
.logos {
display: inline-block;
width: 100%;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 29px;
}
.list-group {
}

#logo-smile{
	margin-left: 80px;
}
#logo-da2i {
    float: right;
    padding: 2% 2% 2% 2%;
margin-right : inherit;
}

header {
/**
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;*/
    background-color: #e55a23;
}
header {
	display: inline-block;
  position: fixed, relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
        padding-top: 8px;

}
section {
  padding: 10px;
  margin: 10px;
  background-color: #e55a23;
}

section p {
  background-color: #ffffff;
}
main {
 /*   padding-left: 5%;
    padding-right: 5%;*/
  padding: 20px 20px 20px 20px;
    padding-bottom: 2%;
    background-color: #ffffff;


}
